#ejercicio {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.small-board {
    /* display: flex; */
    width: 250px
    /* align-content: flex-end; */
  }

  /* #setRuyLopezBtn {
    min-width: 5px;
  } */